*{
    margin: 0;
   
}
div{
    
    height: 100vh;
    text-align: center;
}
button{
    
    border: solid 2px black;
    border-radius: 3px;
    padding-left: 23px;
    margin-right: 12px;
    margin-top: 40px;
    font-size: 24pt;

    
}